$nesans-font-path: "../../font/nesans" !default;
// regular
@font-face {
  font-family: "NesansSemiBold";
  src: url("#{$nesans-font-path}/NesansSemiBold.woff2") format("woff2"),
    url("#{$nesans-font-path}/NesansSemiBold.woff") format("woff"),
    url("#{$nesans-font-path}/NesansSemiBold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
