$spirited-font-path: "../../font/spirited" !default;
// regular
@font-face {
  font-family: "HighSpirited";
  src: url("#{$spirited-font-path}/HighSpirited.woff2") format("woff2"),
    url("#{$spirited-font-path}/HighSpirited.woff") format("woff"),
    url("#{$spirited-font-path}/HighSpirited.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
