/* Reset */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

html {
  scroll-behavior: smooth;
  scroll-padding: 70px;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

body {
  font-family: var(--font-romeliosans);
  color: var(--575756);
  -webkit-font-smoothing: antialiased;
}

img {
  display: inline-block;
  vertical-align: middle;
  max-width: 100%;
  height: auto;
  -ms-interpolation-mode: bicubic;
}

.container {
  width: 95%;
  margin: 0 auto;
}

.wrapper-content {
  padding: 60px 20px;

  @media only screen and (min-width: 1024px) {
    padding: 0 20px;
  }

  .text-142 {
    font-size: 54px;
    padding-bottom: 40px;

    @media only screen and (min-width: 1024px) {
      font-size: var(--142);
    }
  }
}

@media only screen and (min-width: 1024px) {
  .container {
    max-width: 952px;
    padding: 0 20px;
  }

  .wrapper-content {
    padding: 0;
  }
}

.img-respondive {
  width: 95%;

  @media only screen and (min-width: 1024px) {
    width: 90%;
  }
}

.uppercase {
  text-transform: uppercase;
}

.m-auto {
  margin: 0 auto;
}

/* Butons */
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 220px;
  height: 50px;
  margin: 0 auto;
  border: 0;
  -webkit-text-stroke-width: 0.9px;

  @extend .text-26-n;

  @media only screen and (min-width: 1024px) {
    height: 65px;
  }

  &--gray {
    color: var(--FFF);
    background-color: var(--BEC8D2);
  }

  &--small {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    width: 66px;
    height: 26px;
    padding: 5px 20px;
    text-decoration: none;
    color: var(--545453);
    background: rgba(193, 195, 156, 0.5);
  }

  &--medium {
    margin-top: 10px;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1.2px;
    width: 140px;
    height: 26px;
    padding: 5px 20px;
    text-decoration: none;
    color: var(--545453);
    background: rgba(193, 195, 156, 0.5);
  }
}

.number {
  padding-top: 10px;
}

.uppercase {
  text-transform: uppercase;
}

.section-grid__line {
  margin: 0;
  padding: 50px 0px 40px;
  border-bottom: 1px solid #b3b3b3;
}

.section-grid {
  @media only screen and (min-width: 1024px) {
    padding: 0 80px;
  }
}

/* Grid */
.grid {
  display: grid;
  row-gap: 10px;

  @media only screen and (min-width: 1024px) {
    grid-template-columns: 1fr 1fr;
    column-gap: 30px;
  }
}

/* Align */
.text-center {
  text-align: center;
}

/*  Spacing */
.pb {
  &-10 {
    padding-bottom: 10px;
  }

  &-20 {
    padding-bottom: 10px;

    @media only screen and (min-width: 1024px) {
      padding-bottom: 20px;
    }
  }

  &-30 {
    padding-bottom: 15px;

    @media only screen and (min-width: 1024px) {
      padding-bottom: 30px;
    }
  }

  &-40 {
    padding-bottom: 25px;

    @media only screen and (min-width: 1024px) {
      padding-bottom: 40px;
    }
  }

  &-60 {
    padding-bottom: 30px;

    @media only screen and (min-width: 1024px) {
      padding-bottom: 60px;
    }
  }
}

/* Header */
.header {
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 20px;
  color: var(--FFF);
  transition: all 0.4s ease;
  background-color: var(--C1C39C);
  z-index: 10;

  @media only screen and (min-width: 1024px) {
    justify-content: center;
    padding: 34px 20px 26px 20px;
    background-color: var(--C1C39C);
    transform: translateY(50px);
  }

  &.is-scroll {
    background-color: var(--C1C39C);
    .header__link {
      color: var(--FFF);
    }

    .header__logo {
      top: 10px;
      max-width: 30px;
    }
  }

  &__button {
    position: relative;
    width: 30px;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    @media only screen and (min-width: 1024px) {
      display: none;
    }

    .icon {
      &-menu,
      &-close {
        width: 100%;
        transition: all 0.4s ease;
      }

      &-menu {
      }
      &-close {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        visibility: hidden;
      }
    }

    &.is-active {
      .icon {
        &-menu {
          opacity: 0;
          visibility: hidden;
        }

        &-close {
          opacity: 1;
          visibility: visible;
        }
      }
    }
  }

  nav {
    display: none;
    @media only screen and (min-width: 1024px) {
      display: block;
    }
  }

  &__menu {
    display: flex;
    justify-content: center;
    column-gap: 80px;
    align-items: center;
    text-align: center;

    &-mobile {
      width: 200px;
      img {
        width: 100%;
      }
      @media only screen and (min-width: 1024px) {
        display: none;
      }
    }
  }

  &__logo {
    max-width: 30px;
    transition: all 0.4s ease;
    @media only screen and (min-width: 1024px) {
      position: fixed;
      top: -30px;
      left: 50%;
      max-width: 70px;
      transform: translate(-50%, 0);
    }
  }

  &__link {
    display: block;
    font-size: var(--20);
    font-style: normal;
    color: var(--C1C39C);
    font-weight: 500;
    line-height: normal;
    letter-spacing: 2px;
    text-transform: uppercase;
    text-decoration: none;
    // -webkit-text-stroke-width: 0.5;
    // -webkit-text-stroke-color: var(--000);

    @media only screen and (min-width: 1024px) {
      color: var(--FFF);
    }
  }
}

.menu {
  &-mobile {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: var(--FFF);
    transform: translate3d(100%, 0, 0);
    transition: all 0.4s ease;
    z-index: 9;

    &.is-active {
      transform: translate3d(0, 0, 0);
    }

    nav {
      height: 100%;
    }

    ul {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      height: 100%;
      row-gap: 50px;
    }
  }
}

/* Section */

.section {
  &-1 {
    position: relative;

    &__content {
      position: relative;
      width: 100%;
      margin-top: -10%;

      @media only screen and (min-width: 1024px) {
        position: absolute;
        bottom: 230px;
        left: 0;
        margin-top: 0;
      }

      .text-162 {
        margin-bottom: 17px;
      }

      .text-24 {
        margin-top: -20px;

        @media only screen and (min-width: 1024px) {
          margin-top: -10px;
        }
      }
    }
  }

  &-2 {
    &__wrapper {
      position: relative;
      text-align: center;
      margin-top: -20%;

      @media only screen and (min-width: 1024px) {
        margin-top: -290px;
      }

      img {
        height: 1240px;
        object-fit: cover;
        object-position: left;

        @media only screen and (min-width: 1024px) {
          height: auto;
        }
      }
    }

    &__copy {
      position: absolute;
      top: 90px;
      left: -40%;
      width: 90%;
      padding-bottom: 0;
      transform: translate(50%, 0);

      .box {
        padding: 20px 20px 60px;

        @media only screen and (min-width: 1024px) {
          padding: 40px 0 50px;
        }

        @media only screen and (min-width: 1280px) {
          padding: 80px 0 100px;
        }
      }

      @media only screen and (min-width: 1024px) {
        top: -50px;
        left: 10%;
        width: 550px;
        padding-bottom: 0;
        transform: translate(0, 0);
      }
    }
  }

  &-3 {
    &__wrapper {
      position: relative;
      text-align: center;

      @media only screen and (min-width: 1024px) {
      }

      img {
        height: 850px;
        object-fit: cover;
        object-position: left;

        @media only screen and (min-width: 1024px) {
          height: 1070px;
        }
      }
    }

    &__copy {
      position: absolute;
      top: -30px;
      left: 50%;
      right: inherit;
      width: 90%;
      padding-bottom: 0;
      transform: translate(-50%, 0);

      .box {
        padding: 20px 20px 60px;

        @media only screen and (min-width: 1024px) {
          padding: 40px 0 50px;
        }

        @media only screen and (min-width: 1280px) {
          padding: 80px 0 100px;
        }
      }

      @media only screen and (min-width: 1024px) {
        top: -50px;
        right: 50px;
        left: inherit;
        width: 550px;
        padding-bottom: 0;
        transform: translate(0, 0);
      }
    }
  }

  &-4 {
    .box {
      &-color {
        height: 200px;

        @media only screen and (min-width: 1024px) {
          height: 400px;
        }
      }
    }

    .text-142 {
      font-size: var(--60);

      @media only screen and (min-width: 1024px) {
        font-size: var(--142);
      }
    }

    &__wrapper {
      position: relative;
      text-align: center;

      img {
        height: auto;
        margin: 0 auto;
        object-fit: cover;
        object-position: left;

        @media only screen and (min-width: 1024px) {
          height: 1040px;
        }
      }
    }

    &__content {
      position: relative;
      width: 90%;
      margin: 0 auto;
      z-index: 1;

      @media only screen and (min-width: 1024px) {
        position: absolute;
        top: -40px;
        left: 50%;
        width: 890px;
        transform: translate(-50%, 0);
      }

      .box {
        margin-top: -100px;
        padding: 50px 20px;

        @media only screen and (min-width: 1024px) {
          margin-top: 0;
          padding: 70px 90px;
        }
      }
    }
  }

  &-5 {
    &__wrapper {
      padding: 50px 20px 100px;
      background: rgba(237, 196, 132, 0.65);
      background-image: url(../../img/5.webp);
      background-size: 100%;
      background-position: bottom;
      background-repeat: no-repeat;

      @media only screen and (min-width: 1024px) {
        padding: 100px 20px 100px;
      }

      .text-142 {
        font-size: var(--66);

        @media only screen and (min-width: 1024px) {
          font-size: var(--142);
        }
      }
    }

    &__cta {
      p {
        display: flex;
        flex-direction: column;
        row-gap: 10px;

        @media only screen and (min-width: 1024px) {
          display: block;
        }

        span {
          @media only screen and (min-width: 1024px) {
            padding-right: 10px;
          }
        }
      }

      &s {
        display: grid;
        grid-template-columns: 1fr;
        column-gap: 18px;
        row-gap: 20px;
        max-width: 1100px;
        margin: 0 auto;

        @media only screen and (min-width: 1024px) {
          grid-template-columns: 1fr 1fr 1fr;
        }

        .link {
          display: flex;
          align-items: center;
          justify-content: center;
          height: 60px;
          padding-top: 10px;
          text-decoration: none;
          color: inherit;
          background: rgba(255, 253, 246, 0.9);
          box-shadow: 0px 4px 20px 0px rgba(0, 0, 0, 0.15);
          @media only screen and (min-width: 1024px) {
            height: 100px;
            padding-top: 0;
          }
        }
      }
    }
  }

  &-7 {
    position: relative;
    figure {
      text-align: center;

      img {
        width: 100%;
      }
    }

    .box {
      padding: 40px 20px;
      background-color: rgba(255, 255, 255, 0.9);

      img {
        width: 50px;

        @media only screen and (min-width: 1024px) {
          width: auto;
        }
      }

      @media only screen and (min-width: 1024px) {
        padding: 50px;
      }
    }

    &__form {
      position: relative;
      width: 95%;
      margin: 0 auto;
      margin-top: -100px;
      z-index: 1;

      @media only screen and (min-width: 1024px) {
        position: absolute;
        top: -30px;
        left: 50%;
        max-width: 1000px;
        margin-top: 0;
        transform: translate(-50%, 0%);
      }
    }
  }
}

.box {
  padding: 10px;
  background: rgba(255, 255, 255, 0.75);

  @media only screen and (min-width: 1024px) {
    padding: 20px;
  }

  &-color {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100px;

    @media only screen and (min-width: 1024px) {
      height: 415px;
    }

    &-2 {
      display: block;
      width: 100%;
      height: 100px;

      @media only screen and (min-width: 1024px) {
        height: 250px;
      }
    }

    .text-36 {
      padding-left: 40px;

      @media only screen and (min-width: 1024px) {
        padding-left: 100px;
      }
    }
  }
}

/* Slick */
.card {
  &-slick {
    padding-bottom: 30px;

    .line {
      display: none;
      @media only screen and (min-width: 1024px) {
        display: inline-block;
      }
    }

    br {
      display: block;
      @media only screen and (min-width: 680px) {
        display: none;
      }
    }

    &__container {
      position: relative;
      width: 100%;
      margin: 0 auto;

      @media only screen and (min-width: 1060px) {
        max-width: 1095px;
      }

      .title-44 {
        color: var(--B2994E);
        text-align: center;
      }
    }

    &__item {
      padding: 0px 5px 20px;

      @media only screen and (min-width: 1024px) {
        padding: 20px;
      }

      &-box {
        padding: 20px;
        background-color: var(--FFF);
        @media only screen and (min-width: 1024px) {
          overflow: hidden;
        }

        img {
          width: 100%;
          margin-bottom: 18px;

          @media only screen and (min-width: 1024px) {
          }
        }

        .title-22 {
          color: var(--333);
        }

        .title-16 {
          color: var(--4D4D4D) !important;
        }

        p {
          color: var(--333);
        }
      }
    }

    .navigation {
      position: absolute;
      top: 50%;
      display: flex;
      justify-content: space-between;
      width: 100%;
      left: 0;
      z-index: 1;
    }

    .slick {
      &-prev,
      &-next {
        &:before {
          font-size: 0;
        }
      }

      &-prev {
        left: 10px;
        width: 25px;
        height: 35px;
        background: url(../../img/slick-prev.svg);
        background-repeat: no-repeat;
        z-index: 1;

        @media only screen and (min-width: 1024px) {
          left: -40px;
        }
      }

      &-next {
        right: 10px;
        width: 25px;
        height: 35px;
        background: url(../../img/slick-next.svg);
        background-repeat: no-repeat;

        @media only screen and (min-width: 1024px) {
          right: -40px;
        }
      }
    }
  }
}

.border-bottom {
  position: relative;
  padding-bottom: 20px;
  margin-bottom: 20px;
  text-transform: uppercase;

  &:after {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    width: 60px;
    height: 1px;
    background-color: var(--5E713E);
  }
}

/* Countdown */
.countdown {
  position: relative;
  width: 100%;
  // height: 1182px;
  margin-top: 100px;

  &__bckg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: top;
    }
  }

  &__text {
    position: relative;
    width: calc(100% - 10%);
    margin: 0 auto;
    padding-top: 100px;
    text-align: center;

    @media only screen and (min-width: 1024px) {
      padding-top: 200px;
    }

    h2 {
      color: var(--B2994E);
    }

    p {
      color: var(--FFF);
    }
  }

  &__timer {
    font-family: var(--font-rodetta);
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 30px 0 0;
    font-size: 40px;
    color: var(--B2994E);

    @media only screen and (min-width: 1024px) {
      font-size: 180px;
      padding: 50px 0 0;
    }

    span {
      font-family: var(--font-libre-baskerville);
      display: block;
      padding-top: 10px;
      color: var(--FFF);
      font-size: 10px;
      font-weight: 400;
      letter-spacing: 1.8px;
      text-transform: uppercase;

      @media only screen and (min-width: 1024px) {
        font-size: var(--24);
        letter-spacing: 4.8px;
      }
    }
  }
}

/* Modals */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 20px;
  background-color: #3060a9bf;
  z-index: 20;

  &__wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__body {
    position: relative;
    width: 100%;
    margin: 0 auto;
    text-align: center;

    @media only screen and (min-width: 1024px) {
      max-width: 460px;
      padding: 50px;
    }

    img {
      width: 100%;
      margin: 0 auto;
    }
  }

  button {
    position: absolute;
    right: -4px;
    top: -40px;
    width: 40px;
    height: 40px;
    padding: 0;
    border: 0;
    background-color: transparent;
    cursor: pointer;

    @media only screen and (min-width: 1024px) {
      right: 0;
      top: 0;
    }
  }
}

/* Form */
.form-group {
  display: grid;
  column-gap: 20px;
}

.form-group__item {
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}

[type="text"],
[type="tel"],
[type="email"],
[type="number"],
select,
[type="date"] {
  font-family: inherit;
  width: 100%;
  height: 40px;
  padding: 0 10px;
  font-size: 11px;
  color: var(--575756);
  border: 1px solid var(--C1C39C);
  letter-spacing: 1px;
  background-color: transparent;
}

textarea {
  font-family: inherit;
  width: 100%;
  margin-top: 5px;
  padding: 20px;
  background-color: transparent;
  border: 1px solid var(--C1C39C);
}

.form-group__full {
  margin-bottom: 20px;
}

.form-group__item label,
.form-group__full label {
  display: block;
  margin-bottom: 10px;
  color: #666;
  font-size: 10px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
  letter-spacing: 1.4px;
  text-transform: uppercase;
}

.form-group__item span label,
.form-group__full span label {
  position: relative;
  text-transform: none;
  margin-bottom: 0;
}

.form-group__full input[type="checkbox"],
.form-group__full input[type="radio"] {
  opacity: 0;
}

.form-group__full input[type="checkbox"] + span:before,
.form-group__full input[type="radio"] + span:before {
  content: "";
  display: flex;
  position: absolute;
  top: 4px;
  left: 4px;
  width: 20px;
  height: 20px;

  z-index: 1;
  opacity: 0;
  cursor: pointer;
}

.form-group__full input[type="checkbox"] + span:after,
.form-group__full input[type="radio"] + span:after {
  content: "";
  position: absolute;
  top: 1px;
  left: 2px;
  width: 20px;
  height: 20px;
  border: 0;
  background: var(--FFF);
  border: 1px solid var(--C1C39C);
}

input[type="checkbox"]:checked + span:before,
input[type="radio"]:checked + span:before {
  width: 16px;
  height: 14px;
  opacity: 1;
  background: #c1c39c;
}

.form-group__full {
  display: flex;
  flex-direction: column;
}

.wpcf7-list-item {
  display: block;
  margin-left: 0;
  padding-bottom: 8px;
}

.wpcf7-list-item-label {
  padding-left: 6px;
  cursor: pointer;
}

.wpcf7-spinner {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

.form-group-button input {
  font-family: inherit;
  border: 0;
  margin-top: 40px;
  padding: 14px 35px;
  color: var(--FFF);
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 4px;
  background-color: var(--C1C39C);
  cursor: pointer;
}

.form-group-button {
  text-align: center;
}

.wpcf7-form-control.wpcf7-checkbox {
  @media only screen and (min-width: 1024px) {
    display: flex;
    gap: 40px;
  }
}

@media only screen and (min-width: 1024px) {
  .section-3__box-form {
    padding: 40px 100px;
  }

  .form-group {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 20px;
  }

  [type="text"],
  [type="tel"],
  [type="email"],
  [type="number"],
  select,
  [type="date"] {
    font-size: var(--14);
    height: 60px;
    padding: 0 20px;
  }

  .form-group__item label,
  .form-group__full label {
    display: block;
    font-size: var(--14);
    font-weight: 400;
    letter-spacing: 1.4px;
    text-transform: none;
  }

  .form-group-button input {
    padding: 18px 47px;
    font-size: 20px;
  }
}

.wpcf7 form.sent .wpcf7-response-output,
.wpcf7 form.invalid .wpcf7-response-output,
.wpcf7 form.unaccepted .wpcf7-response-output,
.wpcf7 form.payment-required .wpcf7-response-output {
  border-color: var(--3060A9);
  text-align: center;
  font-size: var(--10);
}

.wpcf7-not-valid-tip {
  font-size: 11px;
  margin-top: 10px;
}

/* Mapa */
.map {
  position: relative;
  z-index: 3;

  iframe {
    height: 400px;
  }

  @media only screen and (min-width: 980px) {
    margin-bottom: 0;

    iframe {
      height: 600px;
    }
  }

  &__text {
    display: grid;
    grid-template-columns: 1fr;
    align-items: center;
    width: 100%;
    max-width: calc(100% - 20px);
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.15);

    @media only screen and (min-width: 980px) {
      position: absolute;
      grid-template-columns: 1fr 7fr;
      bottom: 90px;
      right: 0;
      left: 0;
      max-width: 1200px;
      padding: 0;
      margin: 0 auto;
    }
  }

  .text-center {
    display: flex;
    justify-content: flex-start;

    @media only screen and (min-width: 980px) {
      justify-content: center;
    }
  }

  svg {
    width: 50px;
    margin: 0 !important;
    @media only screen and (min-width: 980px) {
      margin: 0 auto !important;
    }
  }

  &__copy {
    position: relative;
    padding-top: 20px;
    @media only screen and (min-width: 980px) {
      &:after {
        content: "";
        display: block;
        position: absolute;
        top: 40px;
        left: 0;
        border-left: 1px solid var(--3060A9);
        width: 1px;
        height: 80px;
      }
    }

    @media only screen and (min-width: 980px) {
      display: grid;
      grid-template-columns: 1fr 2fr;
      align-items: center;
      padding: 40px 30px 40px 27px;
    }

    p {
      position: relative;
    }

    .title-10 {
      color: var(--3060A9);
    }

    h4 {
      color: var(--3060A9);
    }

    .text {
      line-height: 16px;
      @media only screen and (min-width: 980px) {
        border-left: 1px solid var(--606060);
        padding-left: 40px;
      }
    }
  }

  .border:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: -30px;
    border-left: 1px solid var(--5E713E);
    width: 1px;
    height: 100px;
  }
}

/* Slick */

.slick-cartagena {
  padding-top: 230px;
}

.bckg {
  position: fixed;
  top: 120px;
  left: 0;
  width: 100%;
  height: 100%;
  text-align: center;
  z-index: -1;
}

.section-icon {
  display: grid;
  grid-template-columns: 60px 1fr;
  gap: 18px;
  margin-bottom: 18px;
  padding: 28px 17px;
  border: 1px solid #c1c39c;
  background: rgba(193, 195, 156, 0.5);

  @media only screen and (min-width: 980px) {
  grid-template-columns: 90px 1fr;
    margin-bottom: 18px;
  }

  span {
    display: inline-block;
    width: 60px;

    @media only screen and (min-width: 980px) {
      width: 170px;
    }
  }

  &__grid {
    display: grid;

    @media only screen and (min-width: 980px) {
      grid-template-columns: 1fr 1fr;
      gap: 18px;
    }
  }

  &.width-90 {
    @media only screen and (min-width: 980px) {
      width: 80%;
    }
  }
}

.swiper-button-lock {
  display: block !important;
}

.slick-cartagena .slick-slide {
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: auto !important;
}

.slick-cartagena .slick-arrow {
  position: absolute;
  top: 30%;
  width: 32px;
  height: 32px;
  padding: 0;
  border: none;
  background-color: transparent;
  background-repeat: no-repeat !important;
  background-position: center;
  font-size: 0;
  cursor: pointer;
  z-index: 3;
}

.slick-cartagena .slick-prev {
  left: 0;
  background: url("../../img/arrow-prev.svg");

  @media only screen and (min-width: 980px) {
    left: 50px;
  }
}

.slick-cartagena .slick-next {
  right: 0;
  background: url("../../img/arrow-next.svg");

  @media only screen and (min-width: 980px) {
    right: 50px;
  }
}

.slick-cartagena .slick-dots {
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  left: 0;
  bottom: -50px;
}

.slick-cartagena .slick-dots li {
  display: inline-block;
  margin: 0 5px;
  list-style: none;
  width: 10px;
  height: 10px;
  border: 1px solid #c1c39c;
  border-radius: 50%;
}

.slick-dots li button:before {
  width: 10px;
  height: 10px;
  top: -5px;
  font-size: 0;
}

h2.text-40.color--5E713E.uppercase {
  padding-top: 60px;
}

.slick-cartagena .slick-dots li button {
  padding: 0;
  border-radius: 50px;
  font-size: 0;
  width: 10px;
  height: 10px;
  background-color: transparent;
  cursor: pointer;
}

.slick-cartagena .slick-dots li.slick-active {
  border-radius: 50px;
  background-color: #c1c39c;
}

.slick-cartagena .slick-dots li.slick-active button {
  background-color: #c1c39c;
}

.slick-dots li.slick-active button:before {
  color: #c1c39c;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
  background-color: transparent !important;
}

.slick-cartagena {
  .box {
    padding: 0;
    background: rgba(255, 253, 246, 0.9);
  }
}
