:root {
  --font-libre-baskerville: "Libre Baskerville";
  --font-rodetta: "Rodetta";
  --font-hatton: "PP Hatton";
  --FFF: #fff;
  --000: #000;
  --333: #333;
  --666: #666;
  --888: #888;
  --6886A0: #6886A0;
  --606060: #606060;
  --4A4A49: #4A4A49;
  --3060A9: #3060A9;
  --2B4129: #2b4129;
  --B2994E: #b2994e;
  --4D4D4D: #4d4d4d;
  --F2F0E8: #f2f0e8;

  --10: 10px;
  --12: 12px;
  --13: 13px;
  --14: 14px;
  --16: 16px;
  --18: 18px;
  --20: 20px;
  --22: 22px;
  --24: 24px;
  --26: 26px;
  --28: 28px;
  --30: 30px;
  --32: 32px;
  --36: 36px;
  --38: 38px;
  --44: 44px;
  --48: 48px;
  --56: 56px;
}